body {
  font-size: 16px;
  background: black;
}
.App {
  text-align: left;
}

form {
  text-align: center;
  border: 0px solid black;
  background: #666;
  padding: 32px;
}

form label {
  display: block;
}

form button {
  display: block;
  margin: 0 auto;
  color: white;
  font-weight: bold;
  font-size: 1em;
  border: 0px;
  border-radius: 1em;
  padding: 0.5em 3em;
  background: #FFB70F;
}

textarea {
  width: 80vw;
  height: 256px;
  color: white;
  background: black;
  font-family: monospace;
  font-size: 0.8em;
}

.output {
  background: black;
  color: white;
  height: 100%;
  display: block;
  white-space: pre-line;
}