body {
  font-size: 16px;
  background: black;
}
.App {
  text-align: left;
}

form {
  text-align: center;
  border: 0px solid black;
  background: #666;
  padding: 32px;
}

form label {
  display: inline-block;
  width: 80vw;
  background:#222;
  color: white;
  border: 2px solid #222;
}

form button {
  display: block;
  margin: 0 auto;
  color: white;
  font-weight: bold;
  font-size: 1em;
  border: 0px;
  border-radius: 1em;
  padding: 0.5em 3em;
  background: #FFB70F;
}

textarea {
  width: 80vw;
  height: 256px;
  color: white;
  background: black;
  font-family: monospace;
  font-size: 0.8em;
  border: 0px solid #000;
}

.json {
  background: black;
  color: white;
  height: 100%;
  display: inline-block;
  white-space: pre-line;
  font-size: 0.6em;
  width: 50%;
  max-width: 50%;
  vertical-align: top;
  border-right: 1px solid #666;
}

pre {outline: 0px solid #ccc; padding: 5px; margin: 5px; }
.string { color: aqua; }
.number { color: magenta; }
.boolean { color: red; }
.null { color: grey; }
.key { color: yellow; }

.bravascript {
  background: black;
  color: white;
  height: 100%;
  max-width: 49%;
  display: inline-block;
  vertical-align: top;
}

.graph {
  background: white;
  color: black;
  width: 100%;
  text-align: left;
  position: relative;
  font-size: 0.8em;
  display: inline-block;
}
.graph-inner {
  height: 12em;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.graph-step {
  display: inline-block;
  border: 1px solid black;
  padding: 0.5em;
  height: 100%;
}
.graph-step-label {
  display: inline-block;
}
.graph-step-exit {
  display: inline-block;
}
.graph-step-sequence {
  display: inline-block;
}

.bar {
  display: inline-block;
  margin: 2px;
  text-align: center;
}

.lamp-off {       background: gray; }
.lamp-low {       background: white; }
.lamp-med-low {   background: beige; }
.lamp-medium {    background: yellow; }
.lamp-med-high {  background: orange; }
.lamp-high {      background: orangered; }
.lamp-sear {      background: red; }